# Ignore some local specific files
project/omoba.vcproj.Kolyunya-PC.Kolyunya.user
project/omoba.ncb

# Ingnore object files
project/obj/*

# Ignore all files in `bin` excep configs
project/bin/Debug/*
project/bin/Release/*
!project/bin/Debug/resources_d.cfg
!project/bin/Debug/plugins_d.cfg
!project/bin/Release/resources.cfg
!project/bin/Release/plugins.cfg

# Will be removed from the project
project/media/*